<div class="container">
    <div id="branding">
        <h1><span class="highlight">IKEA</span></h1>
    </div>
    <nav>
        <ul>
            <li class="current"><a href="index.html">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/services">Contact Us</a></li>
        </ul>
    </nav>
</div>